// utils/_variables.scss

// COLORS //

/* Background */
$white : #FFFFFF;
$main-bg : #F0F6FC;
$form-bg : #FFFBEA;

/* Genres */
$roman : #4277FF;
$poesy : #FF42A4;
$fiction : #00B862;

/* Grey shades */
$primary-grey : #5F5F5F;
$secondary-grey : #A3A3A3;
$third-grey : #C9C9C9;


/* WIDTHS & HEIGHTS */
$mxw : 1400px;

/* PADDINGS & MARGINS */
$padding-med : 1.25rem;